body {
  font-family: Arial, sans-serif;
  direction: rtl;
  text-align: right;
  background: url('images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;  
}


form {
  width: 70%;
  margin: auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  }

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
input,
select,
datalist {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}
.radio-group,
.checkbox-group {
  display: flex;
  gap: 10px;
}
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: center;
}
th,
td {
  border: 1px solid #ccc;
  padding: 10px;
}
th {
  background-color: #f4f4f4;
}
.submit-btn {
  background: blue;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 10px;
  color: rgb(18, 29, 12);
  margin-top: 20px;
 font-size: 15px;
 font-family: Georgia, 'Times New Roman', Times, serif;

}
